.space {
	background-color: chartreuse;
	width: 600px;
	height: 950px;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;

	position: fixed;
	top: 400px;
	left: 200px;
}

#wings {
	border-top: 50px solid red;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 100px;

	position: fixed;
	top: 450px;
	left: 175px;
}

#thrust1 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid orange;

	position: fixed;
	top: 500px;
	left: 200px;
}

#thrust2 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid orange;

	position: fixed;
	top: 500px;
	left: 280px;
}


.star {
   position: relative;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  10px solid transparent;
   border-bottom: 7px  solid white;
   border-left:   10px solid transparent;
   -moz-transform:    rotate(15deg);
   -webkit-transform: rotate(15deg);
   -ms-transform:     rotate(15deg);
   -o-transform:      rotate(15deg);
}
.star::before {
   border-bottom: 8px solid white;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -4px;
   left: -8px;
   display: block;
   content: '';
   -webkit-transform: rotate(-55deg);
   -moz-transform:    rotate(-55deg);
   -ms-transform:     rotate(-55deg);
   -o-transform:      rotate(-55deg);

}
.star::after {
   position: absolute;
   display: block;
   color: white;
   top: 0px;
   left: -10px;
   width: 0px;
   height: 0px;
   border-right: 10px solid transparent;
   border-bottom: 7px solid white;
   border-left: 10px solid transparent;
   -webkit-transform: rotate(-90deg);
   -moz-transform:    rotate(-90deg);
   -ms-transform:     rotate(-90deg);
   -o-transform:      rotate(-90deg);
   content: '';
}

#star1 {
	margin-top: 100px;
	margin-left: 50px;
}
#star2 {
	margin-top: 30px;
	margin-left: 500px;
}
#star3 {
	margin-top: 130px;
	margin-left: 200px;
}
#star4 {
	margin-top: 200px;
	margin-left: 50px;
}
#star5 {
	margin-top: 300px;
	margin-left: 525px;
}
#star6 {
	margin-top: 400px;
	margin-left: 25px;
}
#star7 {
	margin-top: 500px;
	margin-left: 575px;
}
#star8 {
	margin-top: 600px;
	margin-left: 400px;
}


 .animate-star {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 
 }

@-webkit-keyframes drop {
  10% {margin-top: 300px;}
  20% {margin-top: 0px;}
  30% {margin-top: 400px;}
  40% {margin-top: 0px;}
  50% {margin-top: 500px;}
  60% {margin-top: 0px;}
  80% {margin-top: 600px;}
  100% {margin-top: 0px;}

}



